body {
    margin: 0;
    height: 100vh;
    font-family: Calibri, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efcda5;
}

video {
    width: 100%;
    height: 100%;
}

input[type="number"] {
    background: none;
    border: 1px solid #1d1e1a;
    outline: none;
    padding: 2px;
}