#play-btn {
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border: 1px solid #1d1e1a;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-btn::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid transparent;
    /*border-radius: 50%;*/
    transition: border-color 0.3s;
}

#play-btn:hover::after {
    border-color: #1d1e1a;
}

#play-btn img {
    display: block;
    width: 18px;
    height: 18px;
}